In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

data = pd.read_csv('c:/gitrepos/readmission_ISP/AMI_change.csv')  #might need to change this here
data.head()

,prvdr_num,FFY2012_DSH,FFY2016_DSH,DSH_Change,hospital_name,city,state,zip_code,3YR_2008_2011_AMI_Readmit_Rate,3YR_2012_2015_AMI_Readmit_Rate,AMI_Change
0,140286,0.0251,0.0428,0.0177,KISHWAUKEE COMMUNITY HOSPITAL,DEKALB,IL,60115,0.132353,0.139241,0.006888
1,140015,0.0253,0.0757,0.0504,BLESSING HOSPITAL,QUINCY,IL,62301,0.190123,0.143662,-0.046461
2,230269,0.0256,0.0463,0.0207,WILLIAM BEAUMONT HOSPITAL-TROY,TROY,MI,48085,0.224490,0.215630,-0.008860
3,280125,0.0266,0.0284,0.0018,FAITH REGIONAL HEALTH SERVICES,NORFOLK,NE,68701,0.101942,0.112299,0.010358
4,240010,0.0276,0.0250,-0.0026,ST MARYS HOSPITAL,ROCHESTER,MN,55902,0.151620,0.127771,-0.023850

In [6]:
data.loc[data['DSH_Change'] > 0, 'Increased_DSH_Change'] = '1'
data.loc[data['DSH_Change'] < 0, 'Increased_DSH_Change'] = '0'

In [2]:
Incr_DSHChange = data.loc[data['DSH_Change'] > 0] #DSH ratio increased from 2012 to 2016
Decr_DSHChange = data.loc[data['DSH_Change'] < 0] #DSH ratio decreased from 2012 to 2016

In [13]:
#display summary statistics
data.groupby('Increased_DSH_Change').agg({'DSH_Change':['count','mean','std','max','min'],'AMI_Change': ['mean','std','max','min']})

                     DSH_Change                                      \
                          count      mean       std     max     min
Increased_DSH_Change
0                           243 -0.025111  0.026250 -0.0001 -0.1685
1                           481  0.034136  0.026803  0.1630  0.0001

                     AMI_Change
                           mean       std       max       min
Increased_DSH_Change
0                     -0.018426  0.056238  0.280702 -0.203818
1                     -0.022305  0.049130  0.226415 -0.196310

In [11]:
#perform 2 sample t-test to compare groups of hospitals with increase vs decrease change in DSH ratio

Incr_DSH = data.loc[data['Increased_DSH_Change']=='1','DSH_Change']
Decr_DSH = data.loc[data['Increased_DSH_Change']=='0','DSH_Change']

stats.ttest_ind(Incr_DSH, Decr_DSH , equal_var=False)

Ttest_indResult(statistic=28.474581911527551, pvalue=2.5381740112032027e-106)

In [12]:
#perform 2 sample t-test to compare groups of hospitals with increase vs decrease change in AMI readmission change rate
Incr_DSH = data.loc[data['Increased_DSH_Change']=='1','AMI_Change']
Decr_DSH = data.loc[data['Increased_DSH_Change']=='0','AMI_Change']

stats.ttest_ind(Incr_DSH, Decr_DSH , equal_var=False)

Ttest_indResult(statistic=-0.91345570239103779, pvalue=0.36151220894072766)