In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

data = pd.read_csv('c:/gitrepos/readmission_ISP/HF_change.csv')  #might need to change this here
data.head()

,prvdr_num,FFY2012_DSH,FFY2016_DSH,DSH_Change,hospital_name,city,state,zip_code,3YR_2008_2011_HF_Readmit_Rate,3YR_2012_2015_HF_Readmit_Rate,HF_Change
0,140286,0.0251,0.0428,0.0177,KISHWAUKEE COMMUNITY HOSPITAL,DEKALB,IL,60115,0.247863,0.229236,-0.018627
1,140015,0.0253,0.0757,0.0504,BLESSING HOSPITAL,QUINCY,IL,62301,0.223767,0.222222,-0.001545
2,230269,0.0256,0.0463,0.0207,WILLIAM BEAUMONT HOSPITAL-TROY,TROY,MI,48085,0.300842,0.233355,-0.067487
3,280125,0.0266,0.0284,0.0018,FAITH REGIONAL HEALTH SERVICES,NORFOLK,NE,68701,0.175732,0.157447,-0.018285
4,240010,0.0276,0.0250,-0.0026,ST MARYS HOSPITAL,ROCHESTER,MN,55902,0.250901,0.176330,-0.074571

In [2]:
data.loc[data['DSH_Change'] > 0, 'Increased_DSH_Change'] = '1'
data.loc[data['DSH_Change'] < 0, 'Increased_DSH_Change'] = '0'

In [3]:
Incr_DSHChange = data.loc[data['DSH_Change'] > 0] #DSH ratio increased from 2012 to 2016
Decr_DSHChange = data.loc[data['DSH_Change'] < 0] #DSH ratio decreased from 2012 to 2016

In [12]:
#display summary statistics
data.groupby('Increased_DSH_Change').agg({'DSH_Change':['count','mean','std','max','min'],'HF_Change': ['mean','std','max','min']})

                     DSH_Change                                     HF_Change  \
                          count      mean       std     max     min      mean
Increased_DSH_Change
0                           376 -0.029393  0.033998 -0.0001 -0.3271 -0.024810
1                           695  0.035916  0.031868  0.2494  0.0001 -0.020234


                           std       max       min
Increased_DSH_Change
0                     0.049864  0.227679 -0.250731
1                     0.045555  0.238636 -0.197826

In [8]:
#perform 2 sample t-test to compare groups of hospitals with increase vs decrease change in DSH ratio

Incr_DSH = data.loc[data['Increased_DSH_Change']=='1','DSH_Change']
Decr_DSH = data.loc[data['Increased_DSH_Change']=='0','DSH_Change']

stats.ttest_ind(Incr_DSH, Decr_DSH , equal_var=False)

Ttest_indResult(statistic=30.666603724033838, pvalue=3.3276964565847555e-133)

In [10]:
#perform 2 sample t-test to compare groups of hospitals with increase vs decrease change in HF readmission change rate
Incr_DSH = data.loc[data['Increased_DSH_Change']=='1','HF_Change']
Decr_DSH = data.loc[data['Increased_DSH_Change']=='0','HF_Change']

stats.ttest_ind(Incr_DSH, Decr_DSH , equal_var=False)

Ttest_indResult(statistic=1.4767843579211195, pvalue=0.14017577594477215)