In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

data = pd.read_csv('c:/gitrepos/readmission_ISP/PN_change.csv')  #might need to change this here
data.head()

,prvdr_num,FFY2012_DSH,FFY2016_DSH,DSH_Change,hospital_name,city,state,zip_code,3YR_2008_2011_PN_Readmit_Rate,3YR_2012_2015_PN_Readmit_Rate,PN_Change
0,140286,0.0251,0.0428,0.0177,KISHWAUKEE COMMUNITY HOSPITAL,DEKALB,IL,60115,0.148649,0.160612,0.011963
1,140015,0.0253,0.0757,0.0504,BLESSING HOSPITAL,QUINCY,IL,62301,0.189749,0.153592,-0.036157
2,230269,0.0256,0.0463,0.0207,WILLIAM BEAUMONT HOSPITAL-TROY,TROY,MI,48085,0.247297,0.197456,-0.049841
3,280125,0.0266,0.0284,0.0018,FAITH REGIONAL HEALTH SERVICES,NORFOLK,NE,68701,0.152727,0.163636,0.010909
4,240010,0.0276,0.0250,-0.0026,ST MARYS HOSPITAL,ROCHESTER,MN,55902,0.148489,0.159015,0.010526

In [2]:
data.loc[data['DSH_Change'] > 0, 'Increased_DSH_Change'] = '1'
data.loc[data['DSH_Change'] < 0, 'Increased_DSH_Change'] = '0'

In [3]:
Incr_DSHChange = data.loc[data['DSH_Change'] > 0] #DSH ratio increased from 2012 to 2016
Decr_DSHChange = data.loc[data['DSH_Change'] < 0] #DSH ratio decreased from 2012 to 2016

In [11]:
#display summary statistics
data.groupby('Increased_DSH_Change').agg({'DSH_Change':['count','mean','std','max','min'],'PN_Change': ['mean','std','max','min']})

                     DSH_Change                                     PN_Change  \
                          count      mean       std     max     min      mean
Increased_DSH_Change
0                           391 -0.029614  0.034075 -0.0001 -0.3271 -0.010039
1                           706  0.036145  0.032320  0.2494  0.0001 -0.013358


                           std       max       min
Increased_DSH_Change
0                     0.039354  0.201613 -0.170958
1                     0.036113  0.172414 -0.138211

In [9]:
#perform 2 sample t-test to compare groups of hospitals with increase vs decrease change in DSH ratio

Incr_DSH = data.loc[data['Increased_DSH_Change']=='1','DSH_Change']
Decr_DSH = data.loc[data['Increased_DSH_Change']=='0','DSH_Change']

stats.ttest_ind(Incr_DSH, Decr_DSH , equal_var=False)

Ttest_indResult(statistic=31.175765047460754, pvalue=1.2666974328268848e-138)

In [10]:
#perform 2 sample t-test to compare groups of hospitals with increase vs decrease change in HF readmission change rate
Incr_DSH = data.loc[data['Increased_DSH_Change']=='1','PN_Change']
Decr_DSH = data.loc[data['Increased_DSH_Change']=='0','PN_Change']

stats.ttest_ind(Incr_DSH, Decr_DSH , equal_var=False)

Ttest_indResult(statistic=-1.3770581163144875, pvalue=0.16890594898644451)